{% extends "base.html" %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Shop</th>
                <th>Name</th>
                <th>Set</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.Shop }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Set }}</td>
                    <td>{{ item.Type }}</td>
                    <td>{{ item.Rarity }}</td>
                    <td>{{ item.Quantity }}</td>
                    <td>{{ item.Price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}