<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Table</title>
    <style>
        table {
            border: 1px solid #999;
            border-collapse: collapse;
        }
        th {
            border: 1px solid #999;
            padding: 10px;
            text-align: center;
            font-size: large;
            background-color: #999;
            color: black;
        }
        td {
            border: 1px solid #999;
            padding: 10px;
            text-align: left;
            font-size: larger;
        }
    </style>
</head>
<body>
    <form method="POST" action="/">
        <label for="search_query">Search Query (one entry per line):</label><br>
        <textarea name="search_query" id="search_query" style="width: 400px; height: 120px;"></textarea><br>
        <label for="exclude_zero">Exclude Zero Quantity:</label>
        <input type="checkbox" name="exclude_zero" id="exclude_zero" value="1" checked><br>
        <button type="submit">Search</button>
    </form>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Shop</th>
                <th>Name</th>
                <th>Set</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.Shop }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Set }}</td>
                    <td>{{ item.Type }}</td>
                    <td>{{ item.Rarity }}</td>
                    <td>{{ item.Quantity }}</td>
                    <td>{{ item.Price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
